.important {
  margin-bottom: 150px;

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    max-width: 580px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
  }

  &__item-img {
    margin-bottom: 20px;
    width: 270px;
    height: 150px;
  }
}
